<a href="https://colab.research.google.com/github/irandijunior1903/dadosFiltradosTCC/blob/main/Filtragem_dos_arquivos_de_dados_(TCC_Irandi).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Montando o Drive e importando o pandas

In [ ]:
# Montar drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# Filtrando os dados das escolas públicas da Paraíba (2019)

In [ ]:
escolas_br = pd.read_csv('/content/drive/MyDrive/Dados - TCC (Irandi)/divulgacao_ensino_medio_escolas_2019.csv')

In [ ]:
# Filtrando as colunas necessárias
escolas_colunas_filtradas = ['SG_UF','CO_MUNICIPIO','NO_MUNICIPIO', 'ID_ESCOLA', 'NO_ESCOLA', 'REDE', 'VL_INDICADOR_REND_2019', 
                     'VL_NOTA_MEDIA_2019', 'VL_OBSERVADO_2019', 'VL_PROJECAO_2021']
                     
escolas_br_colunas = escolas_br[escolas_colunas_filtradas]

# Selecionando os dados das escolas públicas na Paraíba
escolas_pb = escolas_br_colunas[(escolas_br_colunas['SG_UF']=='PB') 
                      & (escolas_br_colunas['REDE']=='Estadual')]

In [ ]:
# Criando uma condição para selecionar os valores do IDEB não nulos
escolas_pb = escolas_pb.loc[(escolas_pb.VL_OBSERVADO_2019.values != '-') 
                                                  & (escolas_pb.VL_PROJECAO_2021.values != '-')]
                                                  
# Resetando o índice
escolas_pb.reset_index(inplace=True, drop=True)

In [ ]:
# Salvando um arquivo .csv, o qual sera lido do GitHub
escolas_pb.to_csv("dados_escolas_pb_ideb.csv")

# Filtrando os micro dados das escolas públicas da Paraíba (2019)

In [ ]:
microdados_censo = pd.read_csv('/content/drive/MyDrive/Dados - TCC (Irandi)/microdados_ed_basica_2019.csv', encoding='latin-1', sep=';')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# Excluindo as colunas desnecessárias à análise
#microdados_censo_colunas = microdados_censo.drop(columns=['NO_REGIAO', 'CO_REGIAO', 'NO_UF', 'CO_UF', 'NO_MESORREGIAO',
#                                                          'CO_MESORREGIAO', 'NO_MICRORREGIAO', 'CO_MICRORREGIAO', 'CO_DISTRITO', 
#                                                          'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 
#                                                          'DS_ENDERECO', 'NU_ENDERECO', 'DS_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP', 'NU_DDD',
#                                                         'NU_TELEFONE', 'CO_ORGAO_REGIONAL', 'DT_ANO_LETIVO_INICIO', 'DT_ANO_LETIVO_TERMINO',
#                                                         'TP_CONVENIO_PODER_PUBLICO', 'NU_CNPJ_ESCOLA_PRIVADA', 'NU_CNPJ_MANTENEDORA', 
#                                                          'TP_RESPONSAVEL_REGULAMENTACAO', 'TP_REGULAMENTACAO', 'TP_OCUPACAO_PREDIO_ESCOLAR', 
#                                                          'TP_OCUPACAO_GALPAO', 'QT_SALAS_UTILIZADAS_DENTRO', 'QT_SALAS_UTILIZADAS_FORA',
#                                                          'CO_ESCOLA_SEDE_VINCULADA', 'CO_IES_OFERTANTE', 'QT_SALAS_UTILIZADAS', 
#                                                          'QT_SALAS_UTILIZA_CLIMATIZADAS','QT_SALAS_UTILIZADAS_ACESSIVEIS', 'QT_EQUIP_DVD', 
#                                                          'QT_EQUIP_SOM', 'QT_EQUIP_TV', 'QT_EQUIP_LOUSA_DIGITAL','QT_EQUIP_MULTIMIDIA', 
#                                                          'QT_DESKTOP_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'QT_TABLET_ALUNO', 'TP_REDE_LOCAL',
#                                                          'QT_PROF_ADMINISTRATIVOS', 'QT_PROF_SERVICOS_GERAIS', 'QT_PROF_BIBLIOTECARIO', 
#                                                          'QT_PROF_SAUDE', 'QT_PROF_COORDENADOR', 'QT_PROF_FONAUDIOLOGO', 'QT_PROF_NUTRICIONISTA', 
#                                                          'QT_PROF_PSICOLOGO', 'QT_PROF_ALIMENTACAO', 'QT_PROF_PEDAGOGIA', 'QT_PROF_SECRETARIO',
#                                                          'QT_PROF_SEGURANCA', 'QT_PROF_MONITORES', 'QT_PROF_GESTAO', 'QT_PROF_ASSIST_SOCIAL',
#                                                          'CO_LINGUA_INDIGENA_1', 'CO_LINGUA_INDIGENA_2', 'CO_LINGUA_INDIGENA_3', 
#                                                          'TP_INDIGENA_LINGUA', 'TP_PROPOSTA_PEDAGOGICA', 'TP_AEE', 'TP_ATIVIDADE_COMPLEMENTAR', 
#                                                          'QT_MAT_BAS', 'QT_MAT_INF', 'QT_MAT_INF_CRE', 'QT_MAT_INF_PRE', 'QT_MAT_FUND', 
#                                                          'QT_MAT_FUND_AI', 'QT_MAT_FUND_AF', 'QT_MAT_MED', 'QT_MAT_PROF', 'QT_MAT_PROF_TEC', 
#                                                          'QT_MAT_EJA', 'QT_MAT_EJA_FUND', 'QT_MAT_EJA_MED', 'QT_MAT_ESP', 'QT_MAT_ESP_CC', 
#                                                          'QT_MAT_ESP_CE', 'QT_MAT_BAS_FEM', 'QT_MAT_BAS_MASC', 'QT_MAT_BAS_ND', 'QT_MAT_BAS_BRANCA', 
#                                                         'QT_MAT_BAS_PRETA', 'QT_MAT_BAS_PARDA', 'QT_MAT_BAS_AMARELA', 'QT_MAT_BAS_INDIGENA', 
#                                                          'QT_MAT_BAS_0_3', 'QT_MAT_BAS_4_5', 'QT_MAT_BAS_6_10', 'QT_MAT_BAS_11_14', 'QT_MAT_BAS_15_17',
#                                                          'QT_MAT_BAS_18_MAIS', 'QT_MAT_BAS_D', 'QT_MAT_BAS_N', 'QT_MAT_BAS_EAD', 'QT_MAT_INF_INT', 
#                                                          'QT_MAT_INF_CRE_INT', 'QT_MAT_INF_PRE_INT', 'QT_MAT_FUND_INT', 'QT_MAT_FUND_AI_INT',
#                                                          'QT_MAT_FUND_AF_INT', 'QT_MAT_MED_INT', 'QT_DOC_BAS', 'QT_DOC_INF', 'QT_DOC_INF_CRE', 
#                                                          'QT_DOC_INF_PRE', 'QT_DOC_FUND', 'QT_DOC_FUND_AI', 'QT_DOC_FUND_AF', 'QT_DOC_MED', 
#                                                          'QT_DOC_PROF', 'QT_DOC_PROF_TEC', 'QT_DOC_EJA', 'QT_DOC_EJA_FUND', 'QT_DOC_EJA_MED', 
#                                                          'QT_DOC_ESP', 'QT_DOC_ESP_CC', 'QT_DOC_ESP_CE', 'QT_TUR_BAS', 'QT_TUR_INF',
#                                                          'QT_TUR_INF_CRE', 'QT_TUR_INF_PRE', 'QT_TUR_FUND', 'QT_TUR_FUND_AI', 'QT_TUR_FUND_AF', 
#                                                          'QT_TUR_MED', 'QT_TUR_PROF', 'QT_TUR_PROF_TEC', 'QT_TUR_EJA', 'QT_TUR_EJA_FUND', 
#                                                          'QT_TUR_EJA_MED', 'QT_TUR_ESP','QT_TUR_ESP_CC', 'QT_TUR_ESP_CE'])

In [ ]:
# Selecionando os dados das escolas públicas na Paraíba em atividade
microdados_censo_pb = microdados_censo[(microdados_censo['SG_UF']=='PB') 
                    & (microdados_censo['TP_DEPENDENCIA']== 2)
                    & (microdados_censo['TP_SITUACAO_FUNCIONAMENTO']==1)]

# Redefinindo o indice do dataframe
microdados_censo_pb.reset_index(inplace =True, drop=True)

In [ ]:
# Filtrando as colunas binárias e o código da entidade (merge entre os datasets)
filter_col = [col for col in microdados_censo_pb if col.startswith('IN') or col.startswith('CO_ENTIDADE')]
microdados_censo_colunas = microdados_censo_pb[filter_col]
microdados_censo_colunas

,CO_ENTIDADE,IN_VINCULO_SECRETARIA_EDUCACAO,IN_VINCULO_SEGURANCA_PUBLICA,IN_VINCULO_SECRETARIA_SAUDE,IN_VINCULO_OUTRO_ORGAO,IN_CONVENIADA_PP,IN_MANT_ESCOLA_PRIVADA_EMP,IN_MANT_ESCOLA_PRIVADA_ONG,IN_MANT_ESCOLA_PRIVADA_OSCIP,IN_MANT_ESCOLA_PRIV_ONG_OSCIP,...,IN_FUND_AF,IN_MED,IN_PROF,IN_PROF_TEC,IN_EJA,IN_EJA_FUND,IN_EJA_MED,IN_ESP,IN_ESP_CC,IN_ESP_CE
0,25033204,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0
1,25023489,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
2,25062638,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0
3,25062654,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,25062670,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,25084950,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
652,25040600,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
653,25019740,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
654,25126342,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
655,25048368,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
# Salvando um arquivo .csv, o qual sera lido do GitHub
microdados_censo_colunas.to_csv('microdados_censo_pb.csv')